<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вишлист пользователя {{ user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="wishlist-container">
    <h1>Вишлист пользователя {{ user.username }}</h1>


    <div class="wishlist">
        <a href="{% url 'wish_list' %}"  class="add-wish-button">Назад к моему вишлисту</a>
        {% for wish in wishes %}
        <div class="wish-item">
            <h3>{{ wish.title }}</h3>
            <p>{{ wish.description }}</p>
            {% if wish.link %}
            <p><a href="{{ wish.link }}" target="_blank">Ссылка</a></p>
            {% endif %}
            {% if wish.image %}
            <img src="{{ wish.image.url }}" alt="{{ wish.title }}" class="wish-image">
            {% endif %}


        </div>
        {% endfor %}
    </div>

</div>
</div>
</body>
</html>
